.home-container{
    display: flex;
    #feed-post{
        width: 70%;
        height: 100%;
        padding: 5px;
    }
    #user-friends{
        border-left: 1px solid lightgray;
        padding: 5px;
        width: 30%;
       
      
    }
}
li{
    list-style: none;
  }