
<div class="home-container">
<%- include('_post.ejs'); %> 
<section id="user-friends">
    Friends
    <ul>
        <% for (user of all_users) { %> 
            <li><h1><%= user.name %></h1> </li>
        <% } %> 
    </ul>
</section>
</div>