<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
<%- include ('_header'); %> 
<div>
    Login page
    <form action="/users/signIn" method="post">
        
        <input type="email" name="email" required>
        
        <input type="password" name="password" required >
        <input type="submit" value="signIn">
        <a href="/forgot/">forgot password</a>
        
    </form>
</div>
<%- include ('_footer'); %> 
</body>
</html>