
<div>
    Login page
    <form action="/users/create-session" method="post">
        
        <input type="email" name="email" required>
        
        <input type="password" name="password" required >
        <input type="submit" value="signIn">
        <a href="/forgot/">forgot password</a>
        
    </form>
</div>

